# Desafio Kaggle Titanic

In [ ]:
# Importando Bibliotecas

In [35]:
import csv as csv
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn import metrics
from IPython.display import HTML
import sys  
reload(sys)  
sys.setdefaultencoding('utf8')

# Transforma genero em binario,seleciona a coluna do csv,retira colunas não necessarias,transforma valores nulos em 0

In [36]:
def Formatar(df):
    # transforma genero em binario
    df['Genero'] = df['Sex'].map({'female': 0, 'male': 1}).astype(int)
    # seleciona a coluna do csv
    ids = df['PassengerId'].values
    # retira colunas
    df = df.drop(['Name', 'Sex', 'Ticket', 'Cabin', 'PassengerId',
                  'Embarked', 'SibSp', 'Parch', 'Fare'], axis=1)
    # transforma valores nulos em 0
    df = df.fillna(0)

    return df, ids

# Leitura de arquivo e conversao para array

In [37]:
train = pd.read_csv('train.csv', header=0)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
train, ids = Formatar(train)
test = pd.read_csv('test.csv', header=0)
test, ids = Formatar(test)
train_array = train.values
test_array = test.values

In [39]:
train.head()

   Survived  Pclass   Age  Genero
0         0       3  22.0       1
1         1       1  38.0       0
2         1       3  26.0       0
3         1       1  35.0       0
4         0       3  35.0       1

In [40]:
    HTML(data='<h1>SVM Polinomial</h1><p> Intuitivamente, o kernel polinomial \
     parece não apenas para \
     as características indicadas de amostras de entrada para determinar a sua \
     similaridade, mas também combinações destes. No âmbito da análise de \
     regressão, tais combinações são conhecidos como características de \
     interacção. O (implícita) espaço de características de um kernel \
     polinomial é equivalente ao de regressão polinomial, mas sem a explosão \
     combinatória no número de parâmetros a serem aprendidas. Quando as \
     características de entrada são binários de valor (booleanos), em seguida, \
     as características correspondem à conjunção de características de entrada \
     lógicos.</p>\
     <iframe width="420" height="315" \
     src="https://www.youtube.com/embed/3liCbRZPrZA" frameborder="0" \
     allowfullscreen></iframe>')

In [41]:
classifica = svm.SVC(degree=2, gamma='auto', kernel='poly')
classifica.fit(train_array[0::, 1::], train_array[0::, 0])
svm_saida = classifica.predict(test_array).astype(int)
svm_saida_train = classifica.predict(train_array[0::, 1::]).astype(int)

In [42]:
nota = metrics.accuracy_score(
train_array[0::, 0].astype(int), svm_saida_train)
nota

0.78675645342312006

In [44]:
arquivo = open("svm3.csv", "wb")
escrita = csv.writer(arquivo)
escrita.writerow(["PassengerId", "Survived"])
escrita.writerows(zip(ids, svm_saida))
arquivo.close()
resultado = pd.read_csv('svm3.csv', header=0)
resultado

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]